# Ignore all files and folders
*

# Except files
!.gitignore
!Principal\ curvature.blend
!SP*.blend
!Curves.blend
!Gizmo\ test1.blend
!blender_assets.cats.txt~*
!blender_assets.cats.txt

# Except folders
!SP\ Icons/
!SP\ Icons/*
!testing/
!testing/*

# Ignore extensions
*.blend1
*.step
*.stp
*.STEP