# Ignore all files and folders
*

# Except files
!.gitignore
!Flat\ surfaces.blend
!Principal\ curvature.blend
!SP\ -\ Shapes\ presets.blend
!Bezier_surface.blend
!Curves.blend
!Gizmo\ test1.blend
!SP\ -\ Curve\ and\ FlatPatch.blend
!SP\ -\ NURBS.blend
!SP\ -\ Other\ Primitives.blend

# Except folders
!SP\ Icons/
!SP\ Icons/*

# Ignore extensions
*.blend1
*.step
*.stp
*.STEP